body {
    background: deeppink;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row nowrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
    list-style: none;
}

.flex-item {
    background: black;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: green;
    font-weight: bold;
    font-size: 6em;
    text-align: center;
}